@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* Color Start */
.bg-pink-light {
  background-color: #feeae9;
}

.bg-pink-dark {
  background: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
}
/* Color End */
