@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* Color Start */
.bg-color-light-pink {
  background: #feeae9;
}

.bg-color-dark-pink {
  background: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
}
.bg-color-dark-blue {
  background: #4547f4;
}

.bg-color-dark-warning {
  background: #f4ae42;
}
.bg-color-light-gray {
  background: #f4f4f4;
}
.bg-color-black{
   background: black;
   color: white
}
/* Color End */ ;
